<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <%= partial 'partials/common/footer/gmail_button' %>
          </li>
          <li class="list-inline-item">
            <%= partial 'partials/common/footer/skype_button' %>
          </li>
          <li class="list-inline-item">
            <%= partial 'partials/common/footer/github_button' %>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
      </div>
    </div>
  </div>
</footer>
