<!-- Page Header -->

<header class="masthead" style="background-image: url(<%= "#{url_for('images/lviv.jpg')}" %>)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <%= yield_content :page_header_content %>
      </div>
    </div>
  </div>
</header>
