---
pageable: true
per_page: 10
---
<%# pageable and per_page are mandatory for `middleman-blog` %>

<% content_for :page_header_content do %>
  <div class="site-heading">
    <h1>Marian Kostyk</h1>
    <h2><span>WEB DEVELOPER BLOG</span></h2>
  </div>
<% end %>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% page_articles.each do |article| %>
        <%= partial 'partials/index/article', locals: { article: article } %>
      <% end %>

      <%= partial 'partials/index/posts_pagination', locals: { prev_page: prev_page, next_page: next_page } %>
    </div>
  </div>
</div>

<hr>