---
---

<% content_for :page_header_content do %>
  <div class="site-heading">
    <h1>Marian Kostyk</h1>
    <h2><span>WEB DEVELOPER BLOG</span></h2>
  </div>
<% end %>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% blog.articles[0...10].each do |article| %>
        <%= partial 'partials/index/article', locals: { article: article } %>
      <% end %>

      <%= partial 'partials/index/pager' %>
    </div>
  </div>
</div>

<hr>